In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
import warnings

In [104]:
education_df = pd.read_csv("/Users/aytackolukisa/Desktop/Jupiter_Dosyaları/states_all.csv")
education_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [131]:
a = education_df.columns
liste = [i for i in a]
liste.remove("PRIMARY_KEY")
liste.remove("STATE")

In [132]:
states = education_df["STATE"].unique()

for state in states:
    education_df.loc[education_df["STATE"] == state, liste] = education_df.loc[education_df["STATE"] == state, liste].interpolate()

# we drop the null values after interpolation
education_df.dropna(inplace=True)

In [133]:
education_df["overall_score"] = (education_df["GRADES_4_G"]* 
                                 ((education_df["AVG_MATH_4_SCORE"] + education_df["AVG_READING_4_SCORE"]) * 0.5) + 
                                 education_df["GRADES_8_G"]
                                 * ((education_df["AVG_MATH_8_SCORE"] + 
                                     education_df["AVG_READING_8_SCORE"]) * 
                                    0.5))/ (education_df["GRADES_4_G"] + education_df["GRADES_8_G"])

In [134]:
education_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,overall_score
306,1998_ALABAMA,ALABAMA,1998,739321.0,4140537.0,374153.0,2589819.0,1176565.0,4245033.0,2218693.0,...,57105.0,43957.0,473954.0,205630.0,747980.0,214.750,261.00,211.0,255.0,235.144050
307,1998_ALASKA,ALASKA,1998,130633.0,1206195.0,157335.0,745814.0,303046.0,1222893.0,680848.0,...,10497.0,8403.0,85124.0,38394.0,135373.0,216.375,264.50,208.5,257.5,236.651853
308,1998_ARIZONA,ARIZONA,1998,794331.0,4675296.0,470398.0,2000801.0,2204097.0,4726098.0,2091741.0,...,63943.0,45813.0,543670.0,224867.0,848262.0,218.000,268.00,206.0,260.0,237.245704
309,1998_ARKANSAS,ARKANSAS,1998,456355.0,2567380.0,226475.0,1505419.0,835486.0,2536027.0,1367612.0,...,35936.0,29123.0,282517.0,132507.0,452256.0,214.500,256.75,209.0,256.0,234.346083
310,1998_CALIFORNIA,CALIFORNIA,1998,5727224.0,39183018.0,3149260.0,22840500.0,13193258.0,38087666.0,20083913.0,...,424768.0,334852.0,3666271.0,1627284.0,5926037.0,211.750,260.25,202.0,252.0,230.459681

In [138]:
new_list = ["overall_score",'TOTAL_EXPENDITURE',
 'INSTRUCTION_EXPENDITURE',
 'SUPPORT_SERVICES_EXPENDITURE',
 'OTHER_EXPENDITURE',
 'CAPITAL_OUTLAY_EXPENDITURE']

In [151]:
education_df[["overall_score",'TOTAL_EXPENDITURE',
 'INSTRUCTION_EXPENDITURE',
 'SUPPORT_SERVICES_EXPENDITURE',
 'OTHER_EXPENDITURE',
 'CAPITAL_OUTLAY_EXPENDITURE']].corr()

,overall_score,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
overall_score,1.000000,0.038725,0.051139,0.043430,-0.015947,-0.035727
TOTAL_EXPENDITURE,0.038725,1.000000,0.990278,0.991591,0.943874,0.920782
INSTRUCTION_EXPENDITURE,0.051139,0.990278,1.000000,0.972066,0.900803,0.879846
SUPPORT_SERVICES_EXPENDITURE,0.043430,0.991591,0.972066,1.000000,0.954415,0.902031
OTHER_EXPENDITURE,-0.015947,0.943874,0.900803,0.954415,1.000000,0.916737
CAPITAL_OUTLAY_EXPENDITURE,-0.035727,0.920782,0.879846,0.902031,0.916737,1.000000

overall_score ile ilişkisi en yüksek değişken INSTRUCTION_EXPENDITURE

In [152]:


X = education_df[["INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
                  "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]

X = StandardScaler().fit_transform(X)

sklearn_pca = PCA(n_components=1)
education_df["pca_1"] = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [0.94088389]

In [153]:
education_df[["overall_score", "pca_1", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE",
              "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]].corr()

,overall_score,pca_1,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
overall_score,1.000000,0.011373,0.038725,0.051139,0.043430,-0.015947,-0.035727
pca_1,0.011373,1.000000,0.991595,0.967482,0.987095,0.972319,0.952760
TOTAL_EXPENDITURE,0.038725,0.991595,1.000000,0.990278,0.991591,0.943874,0.920782
INSTRUCTION_EXPENDITURE,0.051139,0.967482,0.990278,1.000000,0.972066,0.900803,0.879846
SUPPORT_SERVICES_EXPENDITURE,0.043430,0.987095,0.991591,0.972066,1.000000,0.954415,0.902031
OTHER_EXPENDITURE,-0.015947,0.972319,0.943874,0.900803,0.954415,1.000000,0.916737
CAPITAL_OUTLAY_EXPENDITURE,-0.035727,0.952760,0.920782,0.879846,0.902031,0.916737,1.000000

pca_1 in overall_score ile korelasyonu çok düşük ve pca_1 i oluşturan diğer değişkenler ile korelasyonu 0.8 den büyük bu kararsız temeş bileşenler tahmininene yol açabilir.